<div class="card-container" fxLayout="row" fxLayoutAlign="space-around center" fxFlexOffset="20" *ngIf="isVisible">
    <mat-card class="example-card" [ngClass]="{disabled:(status==1)}">
        <mat-card-header [ngClass]="{green:(status=='Green'), yellow:(status=='Orange'), red:(status=='Red')}">
            <div class="header-container">
                <mat-card-title>{{username}}</mat-card-title>
                <mat-card-subtitle>
                    <div fxLayout="row" fxLayoutAlgin="space-around center">
                        <span>{{area}}</span>
                        <span class="spacer"></span><span class="date">{{date | date:'MM/dd/yyyy'}}</span>
                    </div>
                    <span class="folio">{{folio}}</span>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <b>{{title}}</b>
        <mat-card-content>
            <p>
                    {{content}} 
            </p>
        </mat-card-content>
        <div *ngIf="isAdmin">                    
                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center" fxFlexOffset="20" *ngIf="isVisible">
                        <div *ngIf="(status!=1)">
                            <button (click)="checkProblem()" type="submit" mat-raised-button>Resuelto</button>
                        </div>
                        <div>
                            <button (click)="deleteProblem()" mat-raised-button color="warn">{{confirm}}</button>
                        </div>
                    </mat-card-actions>                
        </div>
    </mat-card>
</div>